{% extends 'japp/base.html' %}
{% block title_block %}{{ object.cpu.zone }}{% endblock %}
{% block content_block %}

       <tbody>
           <tr>
             <td>{{ pda.cpu.name|upper }}</td>
             <td>{{ pda.cpu.zone|upper }}</td>
             <td>{{pda.user}}</td>
             <td>{{pda.date|date}}</td>
             <td><a href="{% url 'japp:index' %}"> Back </a></td>
           </tr>
           <tr> 
               <td colspan="5" class="text" >
                   {{ pda.text }}
               </td>
           </tr>
  </table>

{% endblock %}
